/build/
/.gradle/
/.build/
/bin/
/data/
*.zip
/.README.md.html
.classpath
.project
.settings/*
!.settings/org.eclipse.core.resources.prefs
!.settings/org.eclipse.jst.jsp.core.prefs
!.settings/org.eclipse.wst.validation.prefs
